@model BearingsWebApp.Models.MeebaInfo

@{
    ViewBag.Title = "Delete";
}

<h2><center>Delete</center></h2>

<h3><center>Are you sure you want to delete this?</center></h3>
        </hr>
    <h4><center>MeebaInfo</center></h4>
    <hr />
<div>
    <table class="table table-hover">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.itemName)</th>
            <th>@Html.DisplayNameFor(model => model.category) </th>
            <th>@Html.DisplayNameFor(model => model.pull) </th>
        </tr>
    </thead>
    <tbody>
        <td>  @Html.DisplayFor(model => model.itemName)</td>
        <td>@Html.DisplayFor(model => model.category)</td>
        <td>@Html.DisplayFor(model => model.pull) </td>
    </tbody>
</table>
</div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
