@model IEnumerable<BearingsWebApp.Models.MeebaInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>@ViewBag.didNotWork</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<canvas id="myChart" width="400" height="400"></canvas>
<canvas id="canvas"></canvas>




<script>

    alert("Appointments: " +@ViewData["Appointments"]);
    alert("Social: " +@ViewData["Social"]);
    alert("Outer: " +@ViewData["Outer"])
    alert("Inner: " +@ViewData["Inner"])
    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["Appointments", "Social", "Inner", "Events", "Personal", "Work", "Outer", "Other"],

            datasets: [
                {
                    label: 'Categories',
                    data: [@ViewData["Appointments"], @ViewData["Social"],@ViewData["Inner"], @ViewData["Events"], @ViewData["Personal"],@ViewData["Work"], @ViewData["Outer"], @ViewData["Other"]],
                    backgroundColor: 'rgba(99, 109, 255, 0.2)',
                },

                {
                    label: 'Pull',
                    data: [0,2, @ViewData["Inner"], 0, 0, 2],
                    backgroundColor: ['rgba(176, 36, 21, 0.2)',]
                  
                },
            ],

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        }
});
</script>

